body {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: "p5hatty";
    src: url("../asset/font/p5hatty.ttf") format("truetype");
}
  
.background-image {
    background-image: url('/asset/connexion_page.png');
    background-size: cover;
    background-position: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

:root{
    --bleu_vert: #14C1BD;
    --bleu_ciel: #E6FFFE;
    --vert: #07541A;
    --blanc :#FFFFFF;
}

* {
    padding: 0px;
    margin: 0px;
}

.input {
    width: 275px;
    height: 40px;
    opacity: 1;
    color: #FFFFFF;
    border: 6px solid white;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 30px;
    width: 130px; 
    height: 75px;
    background: black;
    font-family: "p5hatty";
    font-size: 20px;
}

.uti{
    transform: skew(-20deg);
}

.mdp{
    transform: skew(20deg);
}


.main {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 100vh;
}

.first {
    width: 50%;
    margin-top: 125vh;
}

.forms {
    display: flex;
    flex-direction: column;
    margin-top: 75px;
    margin-left: auto;
    text-align: right;
    align-items: center; /* Centrer verticalement les éléments */
}

.button{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border-color: transparent;
    width: auto;
    font-size: 5px;
    margin-top: -10rem;

}




