body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background: black;
}

@font-face {
    font-family: "p5hatty";
    src: url("../asset/font/p5hatty.ttf") format("truetype");
}

@font-face {
    font-family: "earwing factory rg";
    src: url("../asset/font/earwig\ factory\ rg.otf") format("opentype");
}
  
.background-image {
    background-image: url('../asset/inscription_page.png');
    background-size: 80% auto;
    background-position: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-repeat: no-repeat;
}

* {
    padding: 0px;
    margin: 0px;
}

.input {
    width: 275px;
    height: 40px;
    opacity: 1;
    color: #FFFFFF;
    border: 6px solid white;
    padding-left: 10px;
    padding-right: 40px;
    margin-top: 10px;
    width: 150px; 
    height: 50px;
    background: black;
    font-family: "p5hatty";
    font-size: 20px;
}

.uti{
    transform: skew(-20deg);
}

.mdp{
    transform: skew(-20deg);
}

.tel{
    transform: skew(20deg);
}

.cmdp{
    transform: skew(20deg);
}

.email{
    transform: skew(-20deg);
}


.main {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 100vh;
}

.first {
    width: 50%;
    margin-top: 125vh;
}

.forms {
    display: flex;
    flex-direction: column;
    margin-top: -37rem;
    margin-left: auto;
    text-align: right;
    align-items: center; /* Centrer verticalement les éléments */
}

.button {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border-color: transparent;
    width: auto;
    font-size: 5px;
    position: relative;
    display: inline-block;
    overflow: hidden;
  }
  
  .button img {
    height: 25rem;
    width: auto;
    margin-top: -6rem;
  }
  
  .button::before {
    content: "";
    position: absolute;
    top: 45%; /* Ajuster la position verticale */
    left: 50%;
    transform: translate(-50%, -50%) rotate(90deg);
    width: 0;
    height: 0;
    border-radius: 50%;
    border: 4px solid white; /* Ajuster l'épaisseur de la spirale */
    opacity: 0;
    transition: all 0.3s ease-in-out;
    box-sizing: border-box;
  }
  
  .button:hover::before {
    width: 50%;
    height: 100%;
    opacity: 1;
  }
  
  .button::after:nth-child(1) {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(90deg) translateX(15px) rotate(-45deg); /* Ajuster la taille de la spirale */
    width: 0;
    height: 0;
    border-radius: 50%;
    border: 4px solid white; /* Ajuster l'épaisseur de la spirale */
    opacity: 0;
    transition: all 0.3s ease-in-out;
    box-sizing: border-box;
  }
  
  .button:hover::after:nth-child(1) {
    width: 50%;
    height: 100%;
    opacity: 1;
  }
  
  .button::after:nth-child(2) {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(90deg) translateX(15px) rotate(-90deg); /* Ajuster la taille de la spirale */
    width: 0;
    height: 0;
    border-radius: 50%;
    border: 4px solid white; /* Ajuster l'épaisseur de la spirale */
    opacity: 0;
    transition: all 0.3s ease-in-out;
    box-sizing: border-box;
  }
  
  .button:hover::after:nth-child(2) {
    width: 50%;
    height: 100%;
    opacity: 1;
  }
  
  .button::after:nth-child(3) {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(90deg) translateX(15px) rotate(-135deg); /* Ajuster la taille de la spirale */
    width: 0;
    height: 0;
    border-radius: 50%;
    border: 4px solid white; /* Ajuster l'épaisseur de la spirale */
    opacity: 0;
    transition: all 0.3s ease-in-out;
    box-sizing: border-box;
  }
  
  .button:hover::after:nth-child(3) {
    width: 50%;
    height: 100%;
    opacity: 1;
  }
  
  .button::after:nth-child(4) {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(180deg) translateX(15px) rotate(-180deg); /* Ajuster la taille de la spirale */
    width: 0;
    height: 0;
    border-radius: 50%;
    border: 4px solid white; /* Ajuster l'épaisseur de la spirale */
    opacity: 0;
    transition: all 0.3s ease-in-out;
    box-sizing: border-box;
  }
  
  .button:hover::after:nth-child(4) {
    width: 50%;
    height: 100%;
    opacity: 1;
  }
  