/*all*/
*{
    margin: 0;
    padding: 0;
    background-color: black;
}

@font-face {
    font-family: "earwing factory rg";
    src: url("../asset/font/earwig\ factory\ rg.otf") format("opentype");
}

@font-face {
    font-family: "p5hatty";
    src: url("../asset/font/p5hatty.ttf") format("truetype");
}


/*header*/
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: transparent;
    border-bottom:2px solid white;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: left;
    margin-left: 14px;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #111;
}

.active {
    background-color: transparent;
}

.home img {
    width : 7.5%;
    height : auto;
}

.map img {
    width: 75%;
    height: auto;
}

.active img {
    width: 80%;
    height: auto;
}

.sub img {
    width: 80%;
    height: auto;
}

/*header*/

.title, .id {
    display: flex;
    align-items: center;
}
  
.title img {
    margin-right: 10px;
    height: 10rem;
    width: auto;
}

.title p{
    color:white;
    font-family: "earwing factory rg";
    font-size: 100px;
}


/*body*/

.pdp{
    display: flex;
    align-items: center;
}

.main, .info{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.changeme{
    display: flex;
    align-content: center;
}

.changeme img {
    height: 35rem;
    width: auto;
}

.triangle-code{
    display : inline-block;
    height : 0;
    width : 0;
    border-top : 50px solid transparent;
    border-bottom : 50px solid transparent;
    border-left : 50px solid white;
}

.contain {
    width: 500px;
    height: 50px;
    background-color: transparent;
    transform: skew(-20deg);
    margin-left: 50px;
    margin-top: 50px;
    border: 2px solid white;
    padding: 10px;
}

.contain p {
    font-family: Arial, sans-serif;
    font-size: 16px;
    color: #333;
    text-align: center;
}

.id, .pseudo {
    display: flex;
    align-items: center;
    justify-content: center;
}

.id p, .pseudo p, .pseudo input {
    color: white;
    margin-bottom: -2.5%;
    font-family: "p5hatty";
    font-size: 50px;
}

.container {
    width: 500px;
    height: 50px;
    background-color: transparent;
    transform: skew(20deg);
    margin-left: 50px;
    margin-top: 50px;
    border: 2px solid white;
    padding: 10px;
}

.pseudo input {
    width: 100%;
    height: 100%;
    background-color: transparent;
    border: none;
    color: white;
    font-family: "p5hatty";
    font-size: 50px;
    padding: 0;
    margin: 0;
    text-align: center;
    outline: none;
}

.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 19%;
    padding-bottom: 20%;
}

.save, .logout {
    width: 100px;
    height: 100px;
    background-size: cover;
    background-position: center;
    border: none;
    transform: scale(5);
    margin-top: -5%;
}

.save {
    height: 500px;
    width: 500px;
    transform: scale(1);
    background-image: url("../asset/save_left.png");
    margin-right: 30%;
    
}

.logout {
    background-image: url("../asset/deconnexion.png");
    transform: scale(1);
    height: 500px;
    width: 500px;
}

.frame {
    width: 90%;
    margin: 0 auto;
    border: 2px solid white;
    padding: 10px;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
  }
  
  td {
    width: 25%;
    padding: 10px;
  }
  
  .category {
    text-align: center;
  }
  
  .category img {
    max-width: 100%;
    height: auto;
  }
  .message1 {
    background: none;
    color: aliceblue;
    text-align: center;
    position:relative;
    z-index: 2;
  }
  .message {
    background-image: url("../asset/bulle.png");
    /* background-size: contain; */
    background-size: 400px;
    background-repeat: no-repeat;
    color: aliceblue;
    text-align: center;
    min-width: 50px;
  }
  
  .message img {
    max-width: 100%;
    height: auto;
  }
  .cat{
    max-width: 128px;
    max-height: 128px;
  }
  #vol{
    /* display:flex; */
    position: absolute;
    right:0%;
    max-width: 128px;
    max-height: 128px;
  }
