/*all*/
*{
    margin: 0;
    padding: 0;
    background-color: black;
}

@font-face {
    font-family: "earwing factory rg";
    src: url("../asset/font/earwig\ factory\ rg.otf") format("opentype");
}

@font-face {
    font-family: "p5hatty";
    src: url("../asset/font/p5hatty.ttf") format("truetype");
}


/*header*/
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: transparent;
    border-bottom:2px solid white;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: left;
    margin-left: 14px;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #111;
}

.active {
    background-color: transparent;
}

.home img {
    width : 7.5%;
    height : auto;
}

.map img {
    width: 75%;
    height: auto;
}

.active img {
    width: 80%;
    height: auto;
}

.sub img {
    width: 80%;
    height: auto;
}

/*header*/

.title, .id, .subtitle {
    display: flex;
    align-items: center;
    background: transparent;
}
  
.title img, .subtitle img {
    margin-right: 10px;
    height: 10rem;
    width: auto;
    background: transparent;
}


.title p{
    color:white;
    font-family: "earwing factory rg";
    font-size: 100px;

}

.categories {
    margin: 0;
    padding: 0;
    background-image: url("../asset/background3.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    min-height: 75vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
    font-size: 24px;
    font-family: Arial, sans-serif;
}



.subtitle p{
    color:white;
    font-family: "p5hatty";
    font-size: 100px;
    background: transparent;
}

.subtitle a {
    text-decoration: none;
    color: inherit;
    background: transparent;
    margin-bottom: 5%;
    margin-top: 5%;
    display: flex;
}

