<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/categorypage.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <title>Forum ● Page Catégories</title>
</head>
<body>
    <header>
        <ul>
            <li><a class = "home" href="/"><img src="../asset/heartless_emblem.webp"></a></li>
            <li style="float:right"><a class = "active" href="#mappage"><img src="../asset/map.png"></a></li>
            <li style="float:right"><a class = "sub" href="/createsub"><img src="../asset/messages.png"></a></li>
            <li style="float:right"><a class = "profil" href="/profil"><img src="../asset/contacts.png"></a></li>
          </ul>
    </header>
    <head>
        <div class="title">
            <img src="../asset/map.png" alt="Image">
            <p>Catégories</p>
            <img src="../asset/vol.png" id="vol">
        </div>          
    </head>
    <div class="categories">
        <div class="subtitle">
            <a href="/subjects?id=1">
                <img src="../asset/anime.png" alt="Image">
                <p>Animes</p>
            </a>
        </div>
        <div class="subtitle">
            <a href="/subjects?id=2">
                <img src="../asset/games.png" alt="Image">
                <p>Jeux videos</p>
            </a>
        </div>
        <div class="subtitle">
            <a href="/subjects?id=3">
                <img src="../asset/random.png" alt="Image">
                <p>Autre</p>
            </a>
        </div>
    </div>
    <div id="vol"></div>
    <audio id="fishing" loop>
        <source src="../asset/Destruction.mp3" type="audio/mpeg">
    </audio>  
</body>
<script src="../src/categorypage.js"></script>
</html>