<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/profilpage.css">
    <title>Forum ● Page Profil</title>
</head>
<body>
    <header>
        <ul>
            <li><a class = "home" href="#home"><img src="../asset/heartless_emblem.webp"></a></li>
            <li style="float:right"><a class = "map" href="#mappage"><img src="../asset/map.png"></a></li>
            <li style="float:right"><a class = "sub" href="#createsubjectpage"><img src="../asset/messages.png"></a></li>
            <li style="float:right"><a class = "active" href="#profil"><img src="../asset/contacts.png"></a></li>
          </ul>
    </header>
    <head>
        <div class="title">
            <img src="../asset/contacts.png" alt="Image">
            <p>PrOfil</p>
        </div>          
    </head>
    <div class="main">
        <div class = "pdp">
            <div class="changeme"><img src="../asset/morganapdp.png"></div>
            <div class = "triangle-code"></div>
        </div>
    </div>
    
    
</body>
<script src="../src/profilpage.js"></script>
</html>