<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/profilpage.css">
    <title>Forum ● Page Profil</title>
</head>
<body>
    <header>
        <ul>
            <li><a class = "home" href="/"><img src="../asset/heartless_emblem.webp"></a></li>
            <li style="float:right"><a class = "map" href="/categorypage"><img src="../asset/map.png"></a></li>
            <li style="float:right"><a class = "sub" href="#createsubjectpage"><img src="../asset/messages.png"></a></li>
            <li style="float:right"><a class = "active"><img src="../asset/contacts.png"></a></li>
          </ul>
    </header>
    <head>
        <div class="title">
            <img src="../asset/contacts.png" alt="Image">
            <p>PrOfil</p>
        </div>          
    </head>
    <div class="main">
        <div class="pdp">
            <div class="changeme">
                <img id="profileImage" src="../asset/morganapdp.png">
            </div>
            <div class="triangle-code" id="triangle"></div>
        </div>
        <div class="info">
            <div class="id">
                <p>ID</p>
                <div class="contain">
                    <p id="IdUser">Id</p>
                </div>
            </div>
            <div class="pseudo">
                <p>Nom</p>
                <div class="container">
                    <input type="text" placeholder="Pseudo" id="IdName">
                </div>
            </div>
            <div class="button-container">
                <a class="save"></a>
                <a href="/disconnect" class="logout"></a>
            </div>            
        </div>
        <div class="posted">
            <div class="title">
                <img src="../asset/notes.png" alt="Image">
                <p>Messages postés</p>
            </div>
            <div class="frame">
                <table>
                <tbody>
                </tbody>
                </table>
              </div>              
        </div>
    </div>  
</body>
<script src="../src/profilpage.js"></script>
</html>