<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/subjectpage.css">
    <title>Forum ● Page Sujets</title>
</head>
<body>
    <header>
        <ul>
            <li><a class="home" href="#home"><img src="../asset/heartless_emblem.webp"></a></li>
            <li style="float:right"><a class="map" href="#mappage"><img src="../asset/map.png"></a></li>
            <li style="float:right"><a class="sub" href="#createsubjectpage"><img src="../asset/messages.png"></a></li>
            <li style="float:right"><a class="profil" href="#profilpage"><img src="../asset/contacts.png"></a></li>
        </ul>
    </header>
    <div class="title">
        <img src="../asset/random.png" alt="Image">
        <p>Autre</p>
    </div>
    <div class="categories">
        <div class="subtitle">
            <a href="#sujet1">
                <img src="../asset/bullesujet.png" alt="Image">
            </a>
        </div>
        <div class="subtitle">
            <a href="#sujet2">
                <img src="../asset/bullesujet.png" alt="Image">
            </a>
        </div>
        <div class="subtitle">
            <a href="#sujet3">
                <img src="../asset/bullesujet.png" alt="Image">
            </a>
        </div>
        <div class="subtitle">
            <a href="#sujet4">
                <img src="../asset/bullesujet.png" alt="Image">
            </a>
        </div>
        <div class="tobecontinued">
            <img src="../asset/tobecontinued_left.png" alt="Image" class="flipped">
            <img src="../asset/tobecontinued.png" alt="Image" class="normal">
        </div>
    </div>
</body>
